@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fafbfc;
    --text: #242424;
}

body {
    background-color: var(--primary);
    font-family: 'Inter', 'Roboto', sans-serif;
}

header {
    padding: 1rem 2rem;
    border-bottom: solid 1px rgb(0, 0, 0, 0.1);
}

nav {
    display: flex;
    column-gap: 1rem;
}

header a {
    color: var(--text);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1rem 2rem;
    width: 100%;

    display: grid;
    row-gap: 0.5rem;
    justify-content: center;

}

footer p {
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
}

footer nav a {
    color: var(--text);
    text-decoration: none;
}

main {
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

p {
    line-height: 1.5;
    color: var(--text);
    text-align: justify;
    width: 100%;
    max-width: 512px;
}

.button {
    display: inline-block;
    width: fit-content;
    background-color: #161616;
    padding: 1rem 1.25rem;
    color: #fafafa;
    text-decoration: none;
    border-radius: 0.75rem;
}

.text {
    display: grid;
    row-gap: 0.5rem;
}

#profile {
    width: 100%;
    height: 100%;
    max-width: 256px;
    max-height: 256px;
    border-radius: 20%;
}
